body{
 color: #87968e;
  background: #fff2e3;
  text-align: center;
}
.layout{
  width:800px;
  margin:0 auto;
}
h1{
  font-size:42px;
  text-align:center;
  color:#87968e;;
}
 .layout ul li{
  list-style:none;
  float:left;
   padding:5px 8px;
  
}
.clearfix:after{
  content: '';
  display: block;
  clear: both;
}
a{
  text-decoration: none;
}
.bit{
  display: inline-block;
}
 li a{ 
  color:#fff;
   background:#72b890;
  padding:5px 10px;
  border-radius:2px;
}
a:hover{
  opacity:0.8;
}
a:active{
  opacity:0.6;
}
img{
  margin:30px; 
}

#footer a{
 color: #72b890;
}


















